{% extends 'base.html' %}
{% block title %}Login{% endblock %}
{% block content %}
<form method="POST">
    <h3 align="center" style="margin-top: 50px;">Login</h3>
    <div class="form-group" style="margin: 5%;">
        <label style="margin-top: 10px;" for="email">Email Address</label>
        <input type="email" id="email" name="email" class="form-control" placeholder="Enter Email" required>
        <label style="margin-top: 10px;" for="password1">Password</label>
        <input type="password" id="password" name="password" class="form-control" placeholder="Enter Password" required>
        <p style="margin-top: 5px;"><a href="/signup" class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Don't have an account?</a></p>
        <br>
        <div align="center">
            <button class="btn btn-primary" type="submit">Login</button>
        </div>
    </div>
</form>
{% endblock %}